.MainContainer {
  width: 100vw;
  height: 50px;
  display: grid;
  grid-template-columns: 90% 10%;
  margin-top: 25px;
  position: sticky;
  top: 60px;
  z-index: 1000;
}

.categoryNavbarContainer {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
}

.categoryNavbarContainer>*
{
  border-right: 1px solid #ccc;
  text-align: center;
}

.categoryNavbarContainer>*:first-child 
{
  width:250px;
  box-sizing: border-box;
  pointer-events: none;
}

.categoryNavbarContainer>*:last-child {
  border-right: none;
}

.dropdown {
  position: relative;
  z-index: 100;
}

.dropbtn {
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 2px solid transparent;
}

.dropbtn:hover {
  border-bottom: 2px solid #f53e32; /* red underline on hover */
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  /* left: 0; */
  right: 0%;
  background-color: #fff;
  min-width: 180px;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  z-index: 99;
  border-radius: 6px;
}

.dropdownContent a {
  padding: 6px 12px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
}

.dropdownContent a:hover {
  background-color: #f3f3f3;
  border-radius: 4px;
}

.filterBtn {
  height: 50px;
  background: #f3f3f3;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filterBtn:hover {
  background: #f53e32;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .categoryNavbarContainer {
    display: none;
  }

  .MainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filterBtn {
    width: 80%;
    height: 50px;
    background-color: #f53e32;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;
  }
}

.dropdownItem {
  padding: 8px 12px;
  cursor: default;
  color: #333;
  white-space: nowrap;
}
